@import "https://fonts.googleapis.com/css?family=JetBrains Mono";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', serif;
    color: var(--intellij-dark-white);
    font-size: 25px;
    cursor: default;
    background-color: var(--intellij-dark-gray2);
}

#about-me-title {
    padding: 40px 0 20px 0;
    font-size: 50px;
}

#about-me-subtitle {
    padding-bottom: 8%;
    font-size: 30px;
}

#my-image {
    background: url("/img/me.png") no-repeat;
    background-size: contain;
}

.socials-button {
    visibility: hidden;
    z-index: 16;
    position: fixed;
    top:0;
    left:0;
    width: 3rem;
    height: 3rem;
    display: flex;
    border-radius: 1rem;
    border-color: var(--intellij-purple);
    border-style: solid;
}

#codepen-button {
    margin-top: 4rem;
    margin-left: calc(100vw - 8rem);
}

#github-button {
    margin-top: 4rem;
    margin-left: calc(100vw - 12rem);
}

#linkedin-button {
    margin-top: 8rem;
    margin-left: calc(100vw - 8rem);
}

#mail-button {
    margin-top: 8rem;
    margin-left: calc(100vw - 12rem);
}

.socials-button:hover {
    cursor: pointer;
    background-color: var(--intellij-purple);
}

.socials-button:hover .socials-logo {
    color: var(--intellij-dark-gray2);
}

#about-me:hover .socials-button {
    visibility: visible;
}

.socials-logo {
    color: var(--intellij-purple);
}

#codepen-logo {
    padding: 7px 0 0 7px;
    font-size: 33px;
}

#github-logo {
    padding: 3px 7px 0 7px;
    font-size: 39px;
}

#linkedin-logo {
    padding: 3px 7px 0 7px;
    font-size: 39px;
}

#mail-logo {
    padding: 4px 7px 0 7px;
    font-size: 34px;
}

#say-hello-button {
    visibility: hidden;
    margin-left: 4rem;
    margin-top: 4rem;
    top:0;
    left:0;
    z-index: 5;
    position: fixed;
    width: auto;
    height: 3rem;
    border-radius: 1rem;
    display: flex;
    border-color: var(--intellij-purple);
    border-style: solid;
}

#say-hello-button:hover {
    cursor: pointer;
    background-color: var(--intellij-purple);
}

#say-hello-button:hover #say-hello-text {
    color: var(--intellij-dark-gray2);
}

#say-hello-text {
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    display: flex;
}

#about-me:hover #say-hello-button {
    visibility: visible;
}

.img-container {
    width: 25rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.round-image {
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 14rem 14rem 0 0;
    object-position: 0 80%;
    border: var(--intellij-purple);
    border-style: solid;
    border-width: 4px;
}

#me-div {
    width: 75%;
    font-size: 35px;
    padding: 1rem;
    margin-top: -.2rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#about-me-text {
    font-size: 20px;
    padding: 2%;
}

#email-popup {
    visibility: hidden;
}

#email-popup-background {
    visibility: hidden;
    z-index: 16;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 118, 170, 0.47);
}

#email-popup-form {
    z-index: 17;
    position: fixed;
    margin-left: 20vw;
    margin-top: 10vh;
    width: 60vw;
    height: 80vh;
    border-radius: 2rem;
    border-color: var(--intellij-purple);
    border-style: solid;
    font-size: 27px;
}

#email-popup-header {
    padding: 2rem 0;
    font-size: 30px;
}

#name-and-email {
    display: flex;
}

#name-section {
    margin-left: 3rem;
    margin-right: 2rem;
    width: 100%;
}

#email-section {
    margin-left: 2rem;
    margin-right: 3rem;
    width: 100%;
}

#interest-section {
    padding-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: auto;
}

#message-section {
    padding-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    max-height: 24vh;
    width: auto;
}

#message-input {
    resize: vertical;
    max-height: 24vh;
    height: auto;
}

#send-button {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    border-color: var(--intellij-purple);
    border-style: solid;
    margin-top: 3rem;
}

#send-button:hover {
    background-color: var(--intellij-purple);
}

#send-button:hover > #send-button-text {
    color: var(--intellij-dark-gray2);
}

#send-button-text {
    padding-top: 0.5rem;
}

.input1 {
    margin-top: .5rem;
    border: 2px solid var(--intellij-purple);
    border-radius: 4px;
    height: 2.3rem;
    font-size: 25px;
    width: 100%;
    font-family: 'JetBrains Mono', serif;
}

#recent-work {
    margin-top: 10%;
}

.subsection-title {
    text-align: center;
    color: var(--intellij-purple);
    font-size: 40px;
}

#email-close-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
    border: var(--intellij-purple);
    border-style: solid;
    border-width: 3px;
}

#email-close-icon {
    background-size: 5rem 5rem;
    width: 5rem;
    height: 5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

@media (max-width: 1400px) {
    #say-hello-button {
        visibility: visible;
        position: relative;
        margin-top: -7rem;
        width: 10rem;
        margin-left: auto;
        margin-right: auto;
    }

    .socials-button {
        visibility: visible;
        position: relative;
    }

    #socials {
        display: flex;
        margin: 5rem auto;
        width: 16.5rem;
    }

    #github-button {
        margin: 0 1rem 0 1rem;
    }

    #codepen-button {
        margin: 0;
    }

    #mail-button {
        margin: 0
    }

    #linkedin-button {
        margin: 0 1rem 0 0;
    }
}

@media (max-width: 600px) {
    .img-container {
        width: 18.5rem;
        height: 14.9rem;
    }

    .round-image {
        width: 18.5rem;
        height: 14.9rem;
    }

    #me-div {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}

@media (max-width: 475px) {
    .img-container {
        width: 16rem;
        height: 13rem;
    }

    .round-image {
        width: 16rem;
        height: 13rem;
    }

    #about-me-title {
        font-size: 35px;
        padding: 1rem;
    }

    #about-me-subtitle {
        font-size: 25px;
        padding: .5rem 1rem 3rem 1rem;
    }
}