@import "https://fonts.googleapis.com/css?family=JetBrains Mono";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', serif;
    color: var(--c3);
    font-size: 25px;
    cursor: default;
    background-color: var(--c1);
}

#about-me-title {
    padding: 40px 0 20px 0;
    font-size: 50px;
}

#about-me-subtitle {
    padding-bottom: 8%;
    font-size: 30px;
}

#my-image {
    background: url("/img/me.png") no-repeat;
    background-size: contain;
}

.socials-button {
    visibility: hidden;
    z-index: 16;
    position: fixed;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    border-radius: 1rem;
    border-color: var(--c2);
    border-style: solid;
}

#codepen-button {
    margin-top: 4rem;
    margin-left: calc(100vw - 8rem);
}

#github-button {
    margin-top: 4rem;
    margin-left: calc(100vw - 12rem);
}

#linkedin-button {
    margin-top: 4rem;
    margin-left: 12rem;
}

#mail-button {
    margin-top: 4rem;
    margin-left: 4rem;
}

#say-hello-button {
    margin-top: 4rem;
    margin-left: 8rem;
}

.socials-logo {
    color: var(--c2);
}

#codepen-logo {
    margin: auto;
    font-size: 38px;
}

#github-logo {
    margin: auto;
    font-size: 39px;
}

#linkedin-logo {
    margin: auto;
    font-size: 39px;
}

#mail-logo {
    margin: auto;
    font-size: 34px;
}

#whatsapp-logo {
    margin: auto;
    font-size: 38px;
}

.img-container {
    width: 25rem;
    height: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.round-image {
    width: 25rem;
    height: 20rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 14rem 14rem 0 0;
    object-position: 0 80%;
    border: var(--c2);
    border-style: solid;
    border-width: 4px;
}

#me-div {
    width: 75%;
    font-size: 35px;
    padding: 1rem;
    margin-top: -.2rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#about-me-text {
    font-size: 20px;
    padding: 2%;
}

#email-popup {
    visibility: hidden;
}

#email-popup-background {
    visibility: hidden;
    z-index: 16;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 118, 170, 0.47);
}

#email-popup-form {
    z-index: 17;
    position: fixed;
    margin-left: 20vw;
    margin-top: 10vh;
    width: 60vw;
    height: 80vh;
    border-radius: 2rem;
    border-color: var(--c2);
    border-style: solid;
    font-size: 27px;
}

#email-popup-header {
    padding: 2rem 0;
    font-size: 30px;
}

#name-and-email {
    display: flex;
}

#name-section {
    margin-left: 3rem;
    margin-right: 2rem;
    width: 100%;
}

#email-section {
    margin-left: 2rem;
    margin-right: 3rem;
    width: 100%;
}

#interest-section {
    padding-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    width: auto;
}

#message-section {
    padding-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
    max-height: 24vh;
    width: auto;
}

#message-input {
    resize: vertical;
    max-height: 24vh;
    height: auto;
}

#send-button {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
    height: 3rem;
    border-radius: 2rem;
    border-color: var(--c2);
    border-style: solid;
    margin-top: 3rem;
}

#send-button-text {
    padding-top: 0.5rem;
}

.input1 {
    margin-top: .5rem;
    border: 2px solid var(--c2);
    border-radius: 4px;
    height: 2.3rem;
    font-size: 25px;
    width: 100%;
    font-family: 'JetBrains Mono', serif;
}

#skills-section {
    padding-bottom: 35rem;
    background-color: var(--c1);
    background-image: var(--gradient1)
}

#recent-work-title {
    color: var(--c1);
    margin-top: -32rem;
    padding: 5rem
}

.subsection-title {
    text-align: center;
    color: var(--c2);
    font-size: 40px;
}

#email-close-button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: -1.5rem;
    margin-top: -1.5rem;
    border: var(--c2);
    border-style: solid;
    border-width: 3px;
}

#email-close-icon {
    background-size: 5rem 5rem;
    width: 5rem;
    height: 5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}

#contact-footer {
    font-size: 23px;
    text-align: center;
    background-color: var(--c2);
    color: var(--c1);
    padding: 2rem;
}

#footer {
    font-size: 18px;
    text-align: center;
    color: var(--c2);
    padding: 2rem;
}

#color-palette {
    display: flex;
    width: 9rem;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
}

#color-theme-purple {
    background: linear-gradient(90deg, #2A2A2AFF 40%, #9376AAFF 100%);
    border-color: #9376AAFF;
}

#color-theme-blue {
    background: linear-gradient(90deg, #cbcbcb 40%, #4884C1 100%);
    border-color: #4884C1;
}

.color-theme {
    width: 3rem;
    height: 3rem;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    margin: 0.5rem;
}

@media (max-width: 1400px) {

    #socials {
        display: flex;
        margin: 5rem auto;
        width: calc(5 * 4.4rem);
    }

    .socials-button {
        visibility: visible;
        position: relative;
    }

    #mail-button {
        margin: 0.5rem;
    }

    #say-hello-button {
        margin: 0.5rem;
    }

    #linkedin-button {
        margin: 0.5rem;
    }

    #codepen-button {
        margin: 0.5rem;
    }

    #github-button {
        margin: 0.5rem;
    }
}

@media (max-width: 600px) {
    .img-container {
        width: 18.5rem;
        height: 14.9rem;
    }

    .round-image {
        width: 18.5rem;
        height: 14.9rem;
    }

    #me-div {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}


@media (max-width: 475px) {
    .img-container {
        width: 16rem;
        height: 13rem;
    }

    .round-image {
        width: 16rem;
        height: 13rem;
    }

    #about-me-title {
        font-size: 35px;
        padding: 1rem;
    }

    #about-me-subtitle {
        font-size: 25px;
        padding: .5rem 1rem 3rem 1rem;
    }

    #color-palette {
        width: 7rem;
        margin-top: -1rem;
    }

    .color-theme {
        width: 2rem;
        height: 2rem;
        border-width: 3px;
    }

    #contact-footer {
        font-size: 20px;
        padding: 2rem 1rem;
    }
}

@media (hover: hover) {
    .socials-button:hover {
        cursor: pointer;
        background-color: var(--c2);
    }

    .socials-button:hover .socials-logo {
        color: var(--c1);
    }

    #about-me:hover .socials-button {
        visibility: visible;
    }

    #send-button:hover {
        background-color: var(--c2);
    }

    #send-button:hover > #send-button-text {
        color: var(--c1);
    }
}

