@import "https://fonts.googleapis.com/css?family=JetBrains Mono";

/*noinspection CssUnknownTarget*/
@import "/korbiqweidinger.github.io/css/colors.css";

body {
    margin: 0;
    overflow: hidden;
    background-color: var(--intellij-dark-gray2);
}

#code-quote-div {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 27rem;
    height: 13rem;
    border: var(--intellij-purple);
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    display: flex;
    font-family: 'JetBrains Mono', serif;
    color: var(--intellij-dark-white);
}

#code-quote-div-loc {
    font-family: 'JetBrains Mono', serif;
    background-color: var(--intellij-dark-gray3);
    padding-top: 5px;
    padding-left: 20px;
    width: 3rem;
    border-right: var(--intellij-gray2);
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#code-quote-div-quote {
    width: 0;
    height: 0;
    padding: 5px 0 0 7px;
}

.line__1,
.line__2,
.line__3,
.line__4,
.line__5 {
    white-space: nowrap; /* keep text in one line */
    overflow: hidden; /* hide text behind the cursor */
    margin: 0 auto;
    border-right: 3px solid var(--intellij-dark-gray2);
}

.line__1 {
    animation: animated-text__1 1s steps(15, end) 1s 1 normal both,
    animated-cursor 900ms steps(15, end) 3;
}

.line__2 {
    padding-left: 56px;

    animation: animated-text__2 1s steps(15, end) 1s 1 normal both,
    animated-cursor 900ms steps(15, end) 2;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.line__3 {
    padding-left: 56px;

    animation: animated-text__3 1s steps(15, end) 1s 1 normal both,
    animated-cursor 900ms steps(15, end) 2;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.line__4 {
    padding-left: 56px;

    animation: animated-text__4 1s steps(15, end) 1s 1 normal both,
    animated-cursor 900ms steps(15, end) 2;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}

.line__5 {
    animation: animated-text__5 5ms steps(15, end) 1s 1 normal both,
    animated-cursor 900ms steps(15, end) infinite;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
}

@keyframes animated-cursor {
    from {
        border-right-color: var(--intellij-dark-white);
    }
    to {
        border-right-color: transparent;
    }
}

/* This is for changing how much text is shown*/
@keyframes animated-text__1 {
    from {
        width: 0;
    }
    to {
        width: 21.5rem;
    }
}

@keyframes animated-text__2 {
    from {
        width: 0;
    }
    to {
        width: 13.5rem;
    }
}

@keyframes animated-text__3 {
    from {
        width: 0;
    }
    to {
        width: 14.6rem;
    }

}

@keyframes animated-text__4 {
    from {
        width: 0;
    }
    to {
        width: 15.65rem;
    }

}

@keyframes animated-text__5 {
    from {
        width: 0;
    }
    to {
        width: 1.3rem;
    }

}

.intellij-orange {
    color: var(--intellij-orange);
}

.jetbrains-purple {
    color: var(--intellij-purple);
}

@media (max-width: 460px) {

    #code-quote-div {
        font-size: 20px;
        width: 19.6rem;
        height: 8.85rem;
    }

    .line__2 {
        padding-left: 2.3rem;
    }

    .line__3 {
        padding-left: 2.3rem;
    }

    .line__4 {
        padding-left: 2.3rem;
    }

    @keyframes animated-text__1 {
        from {
            width: 0;
        }
        to {
            width: 14.25rem;
        }
    }

    @keyframes animated-text__2 {
        from {
            width: 0;
        }
        to {
            width: 9rem;
        }
    }

    @keyframes animated-text__3 {
        from {
            width: 0;
        }
        to {
            width: 9.7rem;
        }

    }

    @keyframes animated-text__4 {
        from {
            width: 0;
        }
        to {
            width: 10.5rem;
        }

    }

    @keyframes animated-text__5 {
        from {
            width: 0;
        }
        to {
            width: .8rem;
        }

    }
}