:root {
    --c1: #2A2A2A;
    --c2: #9376AA;
    --c3: #bbbbbb;
    --intellij-gray2: #4C5051;
    --intellij-gray3: #919191;
    --intellij-orange: #CC7832;
    --gradient1: linear-gradient(175deg, var(--c1) 20%, var(--c2) 100%);
}

.fc1 {
    color: var(--c1);
}

.fc2 {
    color: var(--c2);
}

.fc3 {
    color: var(--c3);
}

.bgc1 {
    background-color: var(--c1);
}

.bgc2 {
    background-color: var(--c2);
}

.intellij-orange {
    color: var(--intellij-orange);
}

.ta-center {
    text-align: center;
}

.hover-pointer:hover {
    cursor: pointer;
}