:root {
    --intellij-gray1: #3A3D3F;
    --intellij-gray2: #4C5051;
    --intellij-dark-gray1: #303030;
    --intellij-dark-gray2: #2A2A2A;
    --intellij-dark-gray3: #303133;
    --intellij-blue1: #4884C1;
    --intellij-blue2: #3E86A0;
    --intellij-purple: #9376AA;
    --intellij-dark-white: #bbbbbb;
}