:root {
    --intellij-gray2: #4C5051;
    --intellij-dark-gray2: #2A2A2A;
    --intellij-dark-gray3: #303133;
    --intellij-purple: #9376AA;
    --intellij-dark-white: #bbbbbb;
    --intellij-orange: #CC7832;
    --gradient1: linear-gradient(175deg, var(--intellij-dark-gray2) 20%, var(--intellij-purple) 100%);
}

.tc-intellij-purple {
    color: var(--intellij-purple);
}

.tc-intellij-white {
    color: var(--intellij-dark-white);
}

.tc-intellij-dark-gray2 {
    color: var(--intellij-dark-gray2);
}

.bc-intellij-purple {
    background-color: var(--intellij-purple);
}

.bc-intellij-dark-gray2 {
    background-color: var(--intellij-dark-gray2);
}

.ta-center {
    text-align: center;
}

.hover-pointer:hover {
    cursor: pointer;
}