/*noinspection ALL*/
.close-icon {
    background: url("/img/intellij/close.svg") no-repeat;
    background-size: 28px 28px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 7px;
}

/*noinspection ALL*/
.close-icon:hover {
    background: url("/img/intellij/closeHovered.svg") no-repeat;
    background-size: 28px 28px;
}

/*noinspection ALL*/
.markdown-file-icon {
    background: url("/img/intellij/MarkdownPlugin.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-left: 3px;
    margin-right: 1px;
    margin-bottom: 2px;
}

/*noinspection ALL*/
.html-file-icon {
    background: url("/img/intellij/html.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-left: 3px;
    margin-right: 1px;
    margin-bottom: 2px;
}

/*noinspection ALL*/
.java {
    background: url("/img/intellij/java.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 4px;
}

/*noinspection ALL*/
.github-icon-dark {
    background: url("/img/intellij/github_dark.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 4px;
}

/*noinspection ALL*/
.project-icon {
    background: url("/img/intellij/projectTab.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 4px;
}

/*noinspection ALL*/
.arrow-down-icon-dark {
    background: url("/img/intellij/arrowDown_dark.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 4px;
}

/*noinspection ALL*/
.arrow-expand-icon-dark {
    background: url("/img/intellij/arrowExpand_dark.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 4px;
}

/*noinspection ALL*/
.menu-arrow-icon-dark {
    background: url("/img/intellij/menuArrow_dark.svg") 0 0 no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-right: 2px;
    margin-left: -5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*noinspection ALL*/
.minimize-icon-dark {
    background: url("/img/intellij/minimize_dark.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-right: 4px;
}

/*noinspection ALL*/
.module-directory-icon-dark {
    background: url("/img/intellij/moduleDirectory_dark.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 4px;
}

/*noinspection ALL*/
.src-folder-icon {
    background: url("/img/intellij/src_folder.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 2px;
}

/*noinspection ALL*/
.folder-icon {
    background: url("/img/intellij/folder.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

/*noinspection ALL*/
.linkedin-icon {
    background: url("/img/linkedin-logo.png") no-repeat;
    background-size: 32px 32px;
    width: 35px;
    height: 35px;
    margin-top: -7px;
    margin-right: 2px;
}

/*noinspection ALL*/
.class-icon {
    background: url("/img/intellij/class.svg") no-repeat;
    background-size: 28px 28px;
    width: 35px;
    height: 35px;
    margin-right: -1px;
}

/*noinspection ALL*/
.layout-editor-icon {
    background: url("/img/intellij/layoutEditorOnly_dark.svg") no-repeat;
    background-size: 35px 35px;
    width: 3rem;
    height: 3rem;
    margin: 6px;
}

/*noinspection ALL*/
.image-icon {
    background: url("/img/intellij/ThumbnailToolWindow_dark.svg") no-repeat;
    background-size: 35px 35px;
    width: 3rem;
    height: 3rem;
    margin: 6px;
}


