@import "https://fonts.googleapis.com/css?family=Quicksand";

@font-face {
    font-family: "ad mono";
    src: url("/korbiqweidinger.github.io/font/admono.eot"),
    url("/korbiqweidinger.github.io/font/admono.woff") format("woff"),
    url("/korbiqweidinger.github.io/font/admono.otf") format("opentype"),
    url("/korbiqweidinger.github.io/font/admono.svg#filename") format("svg");
}

.recent-work-grid {
    display: flex;
    position: relative;
    top: calc(50% - 8rem);
    margin: auto;
    width: calc(3*19rem);
}

.rw-section {
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    border-color: var(--intellij-purple);
    border-style: solid;
    border-width: 0.3rem;
    margin: 1rem;
}

.background-image {
    width: 16.1rem;
    height: 16.1rem;
    border-radius: 0.8rem;
    margin: -1px 0 0 -1px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#hair-appartement {
    background: url("https://www.hairappartement.de/static/img/walpertskirchen/wartebereich.jpeg") no-repeat bottom;
    background-size: cover;
}

#braaschdc {
    background: url("https://www.braaschdc.com/.cm4all/mediadb/images/.Wfoto13%20-%20pr%C3%A4feriert.jpg/picture-2600") no-repeat bottom;
    background-size: cover;
}

#you-next {
    background: url("https://i.pinimg.com/originals/5d/9f/8a/5d9f8a38f612501648537756f0809f86.png") no-repeat bottom;
    background-size: cover;
}

.background-image:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

#hair-appartement-button {
    font-family: 'ad mono', serif;
}

.rw-button {
    font-size: 20px;
    width: 11.5rem;
    height: auto;
    margin: auto;
    position: relative;
    top: calc(50% - 2rem);
    background-color: var(--intellij-dark-gray2);
    text-align: center;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    border-color: var(--intellij-purple);
    border-style: solid;
    border-width: 0.3rem;
    color: var(--intellij-purple);
}

#braaschdc-button {
    font-family: 'Quicksand', serif;
}

#hair {
    font-size: 25px;
}

@media (max-width: 1440px) {
    .recent-work-grid {
        display: block;
    }

    .rw-section {
        width: 10rem;
        height: 10rem;
        border-radius: 1rem;
    }

    .background-image {
        width: 10.1rem;
        height: 10.1rem;
    }

    .rw-button {
        font-size: 16px;
        padding: 0.2rem;
        width: 8rem;
        top: calc(50% - 1rem);
    }

    #hair {
        font-size: 20px;
    }

    .recent-work-grid {
        top: 0;
        width: auto;
        margin-top: 3rem;
        margin-left: 2.6rem;
    }

    .background-image {
        -webkit-filter: none; /* Safari 6.0 - 9.0 */
        filter: none;
    }
}